{
    padding: 0px
;
    margin: 0px
;
}

@font-face {
    font-family: 'utmavo';
    src: url('font/utmavo.ttf');
}

body {
    font-family: 'utmavo' !important;
    line-height: 1.5;
}

.bg-light {
    background-color: white !important;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.mg-0 {
    margin: 0px !important;
}

.mg-left-10 {
    margin-left: 10px !important;
}

.mg-left-20 {
    margin-left: 20px !important;
}

.mg-left-30 {
    margin-left: 30px !important;
}

.mg-left-40 {
    margin-left: 40px !important;
}

.mg-right-10 {
    margin-right: 10px !important;
}

.mg-right-20 {
    margin-right: 20px !important;
}

.mg-right-30 {
    margin-right: 30px !important;
}

.mg-right-40 {
    margin-right: 40px !important;
}

.mg-top-10 {
    margin-top: 10px !important;
}

.mg-top-20 {
    margin-top: 20px !important;
}

.mg-top-30 {
    margin-top: 30px !important;
}

.mg-top-40 {
    margin-top: 40px !important;
}

.mg-top-50 {
    margin-top: 50px !important;
}

.mg-bottom-10 {
    margin-bottom: 10px !important;
}

.mg-bottom-20 {
    margin-bottom: 20px !important;
}

.mg-bottom-30 {
    margin-bottom: 30px !important;
}

.mg-bottom-40 {
    margin-bottom: 40px !important;
}

.mg-bottom-50 {
    margin-bottom: 50px !important;
}

.menu-item {
    padding: 12px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.menu-item:hover {
    text-decoration: none;
    border-bottom: 2px solid #f56a00;
}

.menu-item:hover li.nav-link {
    color: #f56a00;
}

.menu-item:hover li.nav-link:hover {
    color: #f56a00;
}

.btn-custom {
    background: #ff5722;
    color: #fff;
    border-color: #ff5722;
}

.btn-custom:hover, a.btn-custom:hover {
    background: #f56a00;
    border-color: #f56a00;
}

.btn-custom:focus {
    box-shadow: 0 0 0 0.2rem #f56a002e !important;
}

.btn-custom:not(:disabled):not(.disabled).active,
.btn-custom:not(:disabled):not(.disabled):active {
    background-color: #cc5a03;
    border-color: #cc5a03;
}

.btn-custom-org {
    color: #f56a00;
    border-color: #f56a00;
}

.btn-custom-org:hover, a.btn-custom-org:hover {
    color: white;
    background-color: #f56a00;
    border-color: #f56a00;
}

.btn-custom-org:focus {
    box-shadow: 0 0 0 0.2rem #f56a002e !important;
}

.btn-custom-org:not(:disabled):not(.disabled).active,
.btn-custom-org:not(:disabled):not(.disabled):active {
    background-color: #f56a00;
    border-color: #f56a00;
}

.btn-outline-custom {
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.65);
}

.btn-outline-custom:hover {
    border-color: #f56a00;
    color: #f56a00;
    background-color: transparent;
}

.btn-outline-custom:focus {
    box-shadow: 0 0 0 0.2rem #f56a002e !important;
    background-color: transparent;
}

.btn-outline-custom:not(:disabled):not(.disabled).active,
.btn-outline-custom:not(:disabled):not(.disabled):active {
    background-color: transparent;
    color: #f56a00;
    border-color: #f56a00;
}

.img-fluid {
    height: 500px;
}

.box-content {
    max-width: 1200px;
}

.box-content-fluid {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.box-title {
    position: relative;
    text-align: center;
}

.box-title h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.box-title a {
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    right: 5px;
    transition: 0.5s;
}

.box-title a:hover {
    right: 0px;
    color: #f56a00;
}

.box-body {
    overflow: hidden;
}

.combo-big {
    width: 65%;
    float: left;
    height: 470px;
    clear: both;
}

.combo-small {
    width: 35%;
    float: right;
    border-left: 5px solid white;
    height: 232px;
}

.city-tickets {
    width: 100%;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all .5s ease;
    position: relative;
}

.ticket-info {
    transition: 1s;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 100%);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

}

.city-tickets:hover .ticket-info {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.84), transparent 100%);
}

.ticket-relative {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.ticket-relative .ticket-big-short {
    padding: 0px 20px 20px 20px;
}

.ticket-relative .ticket-small-short {
    padding: 0px 10px 10px 10px;
}

.ticket-relative .ticket-big-short h3 {
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.ticket-relative .ticket-small-short h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    height: 32px;
    word-wrap: break-word;
    overflow: hidden;
    margin: 0;
    margin-bottom: 7px;
}

.ticket-relative .ticket-big-short .price {
    padding-bottom: 10px;
    padding-top: 10px;
    opacity: 0.8;
    max-width: 70%;
    word-wrap: break-word;
    color: #fff;
}

.ticket-relative .ticket-small-short .price {
    font-size: 14px;
    padding-bottom: 10px;
    opacity: 0.8;
    max-width: 70%;
    word-wrap: break-word;
    color: #fff;
}

.c_orange_l {
    color: #ffffff;
    background: #f56a00;
    padding: 5px;
    border-radius: 2px;
}

.c_orange {
    color: #ff6f42;
}

.c_gray {
    color: #888;
}

.c_black {
    color: #333;
}

.c_blue {
    color: #206b9b;
}

.c_red {
    color: #df1717d1;
}

.card-body {
    padding: 0px;
}

.card-title {
    font-size: 16px;
    color: black;
    padding: 0.5rem;
    margin-bottom: 0rem;
    min-height: 55px;
}

.item .card a {
    text-decoration: none;
}

.card-place {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    padding: 0.5rem;
    min-height: 58px;
}

.top-border {
    border-top: 1px solid #e8e8e8;
}

.card-infor {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
}

.card-infor td {
    width: 50%;
}

.table {
    margin-bottom: 0rem;
}

.tb-infor td {
    padding: 10px 0px;
    text-align: center;
    border-right: 1px solid #dee2e6;
}

.tb-infor td:last-child {
    border-right: 0px;
}

.card-price {
    color: #888;
}

.card-price-box {
    background: #f56a00;
    padding: 5px;
    border-radius: 4px;
    color: white;
}

.card-img-top {
    height: 150px;
}

.table td {
    padding: 0.5rem;
}

.post-big {
    width: 50%;
    float: left;
    height: 380px;
    clear: both;
}

.post-small {
    width: 25%;
    float: right;
    border-left: 5px solid white;
    height: 190px;
}

.container-service {
    /*text-align: center;*/
    background-color: #282A44;
}

.service-box {
    /*margin-bottom: 20px;*/
    padding-left: 5%;
    overflow: hidden;
}

.service-number {
    padding: 6px 13px;
    color: #fff;
    border-radius: 20px;
    width: 35px;
    font-size: 15px;
    margin-right: 15px;
    float: left;
    background: #fc6600;
}

.service-content {
    float: left;
}

.service-title {
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #fc6600;
}

.service-description {
    margin-bottom: 5px;
    font-size: 12.5px;
    color: #fff;
}

.service-more {
    color: #fff;
}

#footer {
    background-color: #E6E6E6;
    clear: both;
}

.footer-wrap {
    position: relative;
    padding: 50px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.footer-about-us a {
    transition: 0.5s;
    text-decoration: none;
    color: #333;
}

.footer-about-us a:hover {
    color: #f56a00;
}

#footer .bottom-bar {
    text-align: center;
    padding: 15px 0;
    color: #f4f4f4;
    background-color: #374450;
}

.box-blog-left {
    padding: 0px 20px 20px 20px;
    overflow: hidden;
    position: relative;
    background: white;
}

.box-blog-right {
    padding: 0px 20px 20px 20px;
    overflow: hidden;
    position: relative;
    background: white;
}

.box-blog-title {
    min-height: 53px;
    position: relative;
    vertical-align: top;
    border-bottom: 1px solid #ececec;
    clear: both;
    width: 100%;
    border-bottom-width: 2px;
}

.blog-title {
    font-size: 14px !important;
    vertical-align: top;
    color: #fff;
    padding-top: 20px;
    margin-bottom: -2px;
    padding-bottom: 0;
    border-bottom: 0;
    bottom: 0;
    display: inline-block;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bolder;
}

.blog-title a {
    transition: 0.4s;
    background-color: #4caf50 !important;
    display: block;
    background: #000;
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    height: 36px;
    line-height: 36px;
    padding: 0 14px;
    text-decoration: none;
    vertical-align: baseline;
}

.blog-title a:hover {
    background-color: #f56a00 !important;
}

.box-blog-content {
    margin-top: 20px;
    overflow: hidden;
}

.box-blog-content h2 {
    font-size: 30px;
}

.box-blog-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}

.box-blog-content li {
    margin-bottom: 5px;
    padding-bottom: 6px;
    text-align: left;
    color: #000;
    font-weight: 500;
    line-height: 1.3;
    display: block;
    width: 100%;
    padding-right: 0;
    clear: both;
    overflow: hidden;
    margin-left: 0;
    font-size: 1.4rem;
    position: relative;
}

.box-blog-content li a {
    line-height: inherit;
    position: relative;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 17px;
    font-style: normal;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: transparent;
    transition: color .3s;
    text-decoration: none;
    vertical-align: baseline;
    font-weight: bolder;
}

.category-item-count {
    float: right;
}

.blog-content-items {
    margin-left: -10.5px;
    margin-right: -10.5px;
    overflow: hidden;
}

.blog-info {
    opacity: 0.8;
    max-width: 70%;
    word-wrap: break-word;
    color: #fff;
}

.cfs-10 {
    font-size: 10px;
}

.cfs-11 {
    font-size: 11px;
}

.cfs-12 {
    font-size: 12px;
}

.cfs-13 {
    font-size: 13px;
}

.cfs-14 {
    font-size: 14px;
}

.cfs-15 {
    font-size: 15px;
}

.cfs-16 {
    font-size: 16px;
}

.cfs-17 {
    font-size: 17px;
}

.cfs-18 {
    font-size: 18px;
}

.cfs-19 {
    font-size: 19px;
}

.cfs-20 {
    font-size: 20px;
}

.cfs-21 {
    font-size: 21px;
}

.cfs-22 {
    font-size: 22px;
}

.pd-0 {
    padding: 0px !important;
}

.pd-top-10 {
    padding-top: 10px !important;
}

.pd-top-20 {
    padding-top: 20px !important;
}

.pd-top-30 {
    padding-top: 30px !important;
}

.pd-top-40 {
    padding-top: 40px !important;
}

.pd-top-50 {
    padding-top: 50px !important;
}

.pd-bottom-10 {
    padding-bottom: 10px !important;
}

.pd-bottom-20 {
    padding-bottom: 20px !important;
}

.pd-bottom-30 {
    padding-bottom: 30px !important;
}

.pd-bottom-40 {
    padding-bottom: 40px !important;
}

.pd-bottom-50 {
    padding-bottom: 50px !important;
}

.pd-right-10 {
    padding-right: 10px !important;
}

.pd-right-20 {
    padding-right: 20px !important;
}

.pd-right-30 {
    padding-right: 30px !important;
}

.pd-right-40 {
    padding-right: 40px !important;
}

.pd-right-50 {
    padding-right: 50px !important;
}

.pd-left-10 {
    padding-left: 10px !important;
}

.pd-left-20 {
    padding-left: 20px !important;
}

.pd-left-30 {
    padding-left: 30px !important;
}

.pd-left-40 {
    padding-left: 40px !important;
}

.pd-left-50 {
    padding-left: 50px !important;
}

.fw-bolder {
    font-weight: bolder
}

.center {
    text-align: center;
}

.blog-more {
    transition: 0.5s;
    position: absolute;
    right: 5px;
    bottom: 8px;
    text-decoration: none;
}

.blog-more:hover {
    text-decoration: none;
    color: #f56a00;
    right: 0px;
}

.blog-post-item {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #ececec;
    word-break: break-word;
    position: relative;
}

.blog-media-object {
    margin-bottom: 20px;
    overflow: hidden;
}

.blog-image-holder {
    float: left;
    width: 45%;
}

.blog-image-holder img {
    width: 100%;
    height: 113px;
}

.blog-post-content {
    width: 52%;
    float: right;
}

.blog-post-title a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.container-image {
    height: 360px !important;
}

.image-slider {
    background-size: cover !important;
    background-position: center center !important;
}

.price-sale {
    text-decoration: line-through;
}

.critical-info {
    margin-bottom: 10px;
    color: #666;
}

.ticket-package-detail {
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 2px;
}

.ticket-package-detail-body {
    padding: 16px 20px;
}

.g-right {
    float: right;
}

.dp-ib {
    display: inline-block;
    margin-right: 18px;
}

.package-detail-more a {
    color: rgba(0, 0, 0, 0.85);
    transition: 0.3s;
}

.package-detail-more a:hover {
    text-decoration: none;
    color: #f56a00;
}

.info-section {
    padding: 30px 0;
}

.btn-detail {
    background-color: transparent;
}

.btn-detail:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.review-item {
    padding: 10px 0;
}

.review-item .editer {
    float: left;
}

.review-item .editer-logo {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    background-color: white;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.review-item .review-content {
    padding-left: 20px;
    overflow: hidden;
}

.review-item .product-star span {
    margin-left: 2px;
    vertical-align: middle;
    color: #aaa !important;
    font-size: 11px;
}

/*.tour-order {
    z-index: 1000;
    transform: translateZ(0px);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}*/

.foot-head {
    background-color: white;
    clear: both;
    overflow: hidden;
    position: relative;
}

.foot-main-image {
    float: left;
    position: relative;
    width: 100%;
}

.breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    font-size: 11px;
    margin-top: 5px;
}

.breadcrumb-item {
    padding: .5rem;
}

.breadcrumb-item:first-child {
    padding-left: 0rem;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #bbb;
}

.breadcrumb-item a:hover {
    color: #888;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "»";
}

.main-information {
    /* height: 100%; */
    position: relative;
}

.main-information .res-common {
    width: 100%;
    float: left;
    margin-top: 0;
    font-size: 12px;
    /* height: 100%; */
}

.main-information .res-common-info {
    overflow: hidden;
    font-size: 14px;
    /* height: 100%; */
}

.main-info-title {
}

.main-info-title h2 {
    text-align: center;
    line-height: 1.2em;
    text-shadow: 0 1px 1px #fff;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-order {
    position: relative;
    background: #fff;
    clear: both;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 2px;
    z-index: 11;
}

.food-title {
    padding: 10px 15px 0px 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
}

.food-box-heading {
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 0;
    text-transform: uppercase;
}

.food-dishes-item-left .img-box {
    height: 60px;
    width: 60px;
}

.food-dish {
    overflow: hidden;
    float: left;
    width: 464px;
    border-bottom: #f5f5f5 1px solid;
    padding-bottom: 10px;
    margin: 0 10px 10px 15px;
    height: 70px;
    box-sizing: border-box;
}

.food-dishes-item-left {
    float: left;
    width: 60px;
}

.food-dishes-item-left .img-box {
    display: block;
    position: relative;
}

.food-dishes-item-right {
    float: left;
    width: 388px;
    margin-left: 16px;
    line-height: 2em;
}

.food-dishes-item-right a.title-name-food {
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    display: block;
}

.total-orders {
    font-size: 12px;
    color: #a1a1a1;
    margin: 0;
}

.img-food-detail img {
    height: 60px;
    width: 60px;
    float: left;
}

.name-food-detail {
    float: left;
    width: 77%;
    margin-left: 16px;
}

.name-food-detail h3 {
    font-size: 22px;
    margin-bottom: 0px;
}

.food-price {
    float: left;
    width: 12%;
    margin-left: 16px;
}

.food-box-menu-detail {
    overflow: hidden;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.food-price .food-price-detail {
    background-color: #ff6f42;
    padding: 3px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-size: 15px;
}

.food-price .unit {
    font-size: 13px;
}

.page-item.active .page-link {
    background-color: #ff6f42;
    border-color: #ff6f42;
}

.page-item.active .page-link:focus {
    box-shadow: 0 0 0 0.2rem #f56a002e !important;
}

.page-link {
    color: #ff6f42;
}

.page-link:hover {
    color: #d03200;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem #f56a002e !important;
}

.info-store {
    position: relative;
    background: #fff;
    clear: both;
    overflow: hidden;
    border: 1px solid #eee;
    /*margin-bottom: 15px;*/
    border-radius: 2px;
}

.food-store-description {
    overflow: hidden;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.food-store-description img {
    width: 100%;
}

.food-map {
    background-color: #fff;
}

.category-post-item {
    word-break: break-word;
    position: relative;
    margin: 0 0 20px;
}

.entry-media-text {
    padding-left: 20px;
    flex: 1;
}

.penci-image-holder {
    position: relative;
    width: 100%;
    background: #f5f5f5 url('/resources/images/no-image.jpg');
    display: block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    transition: transform .3s ease, opacity .3s;
    transition-timing-function: cubic-bezier(0.39, 0.76, 0.51, 0.56);
}

.article-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.entry-media-img {
    width: 37.5%;
    margin-right: 0;
    position: relative;
}

.penci-image-holder:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6667%;
    background: none !important;
    box-shadow: none !important;
}

.penci-image-holder:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6667%;
    background: none !important;
    box-shadow: none !important;
}

.penci-image-holder:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s ease;
}

.penci-link-post:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s ease;
}

.entry-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    text-align: left;
    margin: 0;
    margin-bottom: 4px;
    clear: both;
}

.entry-title a {
    color: #000;
    margin: 0;
    padding: 0;
    background-color: transparent;
    transition: color .3s;
    text-decoration: none;
    vertical-align: baseline;
}

.entry-title a:hover {
    color: #f56a00;
}

.entry-meta {
    color: #999;
    font-size: 12px;
}

.entry-meta-item {
    color: inherit;
    display: inline-block;
    margin-right: 10px;
}

.author a {
    color: #999;
    transition: color .3s;
}

.author a:hover {
    text-decoration: none;
    color: #f56a00;
}

.entry-media:hover .penci-link-post:after {
    opacity: .3;
}

#date-order {
    font-size: 25px;
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.package-kind-ticket {
    border-top: 1px solid #eeeeee;
    /*display: none;*/
}

.ticket-form-item {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 0;
}

.ticket-form-item-control-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.ticket-form-item-control {
    line-height: 39.9999px;
    position: relative;
    zoom: 1;
}

.ticket-form-item-children {
    position: relative;
}

.number-stepper {
    width: 104px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    border-radius: 20px;
}

.number-stepper button {
    display: inline-block;
    width: 50px;
    height: 100%;
    background-color: #ff5722;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color .2s ease;
}

.number-stepper span {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    display: inline-block;
    background-color: white;
    height: 100%;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #ff5722;
    letter-spacing: -1px;
}

.number-stepper button:nth-of-type(1) {
    padding-right: 20px;
}

.number-stepper button:nth-of-type(2) {
    padding-left: 20px;
}

.number-stepper button {
    background: #ff5722;
    color: #fff;
    border-color: #ff5722;
}

.number-stepper button:hover {
    background: #f56a00;
    border-color: #f56a00;
}

.package-kind-ticket {
    display: none;
}

.notify-ticket {
    display: none;
}

.ticket-selected {
    border-color: #ff5722;
    border-width: 2px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

#book-detail .book-date {
    border-bottom: 1px dotted #ccc;
}

#book-detail .book-package-person {
    line-height: 28px;
    margin-top: 10px;
    min-height: 150px;
}

.t_right {
    float: right;
}

.card-order {
    padding: 24px;
}

.card-order {
    padding: 24px;
}

#card-order {
    display: none;
}

.btn-custom.disabled, .btn-custom:disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
}

.order-steps-horizontal:not(.order-steps-label-vertical) .order-steps-item {
    margin-right: 16px;
    white-space: nowrap;
}

.order-steps {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.order-steps-item {
    margin-right: 12px;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}

.order-steps-item-icon, .order-steps-item-content {
    display: inline-block;
    vertical-align: top;
}

.order-steps-small .order-steps-item-icon {
    width: 24px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    border-radius: 24px;
    font-size: 12px;
}

.order-steps-item-wait .order-steps-item-icon {
    border-color: rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.order-steps-item-icon {
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 32px;
    font-size: 16px;
    margin-right: 8px;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
}

.order-steps-item-process .order-steps-item-icon {
    background: #1890ff;
    border-color: #1890ff;
}

.order-steps-item-icon > .order-steps-icon {
    /*line-height: 1;*/
    top: -1px;
    color: #1890ff;
    position: relative;
}

.order-steps-item-process .order-steps-item-icon > .order-steps-icon {
    color: #fff;
}

.order-steps-item-title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    display: inline-block;
    padding-right: 16px;
    position: relative;
    line-height: 32px;
}

.order-steps-item-title:after {
    content: '';
    height: 1px;
    width: 9999px;
    background: #e8e8e8;
    display: block;
    position: absolute;
    top: 16px;
    left: 100%;
}

.order-steps-item-process .order-steps-item-title {
    font-weight: 500;
}

.order-steps-small .order-steps-item-title {
    font-size: 14px;
    line-height: 24px;
    padding-right: 12px;
}

.order-steps-item-process > .order-steps-item-content > .order-steps-item-title {
    color: rgba(0, 0, 0, 0.85);
}

.order-steps-horizontal:not(.order-steps-label-vertical) .order-steps-item {
    margin-right: 16px;
    white-space: nowrap;
}

.order-steps-small.order-steps-horizontal:not(.order-steps-label-vertical) .order-steps-item {
    margin-right: 12px;
}

.order-steps-item-wait .order-steps-item-icon {
    border-color: rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.order-steps-small.order-steps-horizontal:not(.order-steps-label-vertical) .order-steps-item:last-child {
    margin-right: 0;
}

.order-steps-item:last-child {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.order-steps-item-wait .order-steps-item-icon > .order-steps-icon {
    color: rgba(0, 0, 0, 0.25);
}

.order-steps-item-wait > .order-steps-item-content > .order-steps-item-title {
    color: rgba(0, 0, 0, 0.45);
}

.order-card-head {
    border-bottom: 1px solid #e8e8e8;
    padding: 24px;
    min-height: 48px;
}

.asterisk {
    display: inline-block;
    margin-right: 4px;
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
    font-weight: inherit;
}

label.phone-user a {
    text-decoration: none;
}

.s-payment {
    display: flex;
    flex-flow: row wrap;
}

.s-payment > div {
    flex: 1;
    padding: 0.5rem;
}

input.payment[type="radio"] {
    display: none;
}

input.payment[type="radio"]:not(:disabled) ~ label {
    cursor: pointer;
}

input.payment[type="radio"]:disabled ~ label {
    color: #bcc2bf;
    border-color: #bcc2bf;
    box-shadow: none;
    cursor: not-allowed;
}

label.l-payment {
    height: 100%;
    display: block;
    background: white;
    border: 2px solid #f56a00;
    border-radius: 20px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
    position: relative;
}

input.payment[type="radio"]:checked + label {
    background: #f56a00;
    color: white;
    box-shadow: 0px 0px 20px #f56a00;
}

input.payment[type="radio"]:checked + label::after {
    color: #ffffff;
    font-family: FontAwesome;
    border: 2px solid #1dc973;
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: #1dc973;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

label.l-payment p {
    font-weight: 900;
}

/*Styling Selectbox*/
.dropdown {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 42px;
    text-align: left
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}

.dropdown.active .select > i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

.card-img-top {
    width: 100%;
    height: auto;
}

.l_top {
    border-top: 1px solid #d1d1d1;
}

.card-body-login .form-group label {
    width: 100%;
}

.btn-forgot-password, .btn-register, .btn-login {
    text-decoration: none;
    transition: color 0.3s ease 0s;
    color: rgb(51, 51, 51);
}

.btn-forgot-password:hover, .btn-register:hover, .btn-login:hover {
    color: rgb(245, 106, 0);
    text-decoration: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #f56a00;
}

.order-steps-item-finish > .order-steps-item-content > .order-steps-item-title:after {
    background-color: #1890ff;
}

.order-steps-item-finish .order-steps-item-icon > .order-steps-icon {
    color: #1890ff;
}

.order-steps-item-finish .order-steps-item-icon {
    border-color: #1890ff;
    background-color: #fff;
}

.anticon-check:before {
    content: "\f00c";
}

.anticon:before {
    display: block;
    font-family: "FontAwesome" !important;
}

.anticon {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    /*line-height: 1;*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.s-order {
    padding: 0px 130px;
    position: relative;
    /*min-height: 820px;*/
}

#choose-login-order, #choose-register-order, #choose-forgot-password-order {
    width: 507px;
    position: absolute;
}

#choose-forgot-password-order {
    opacity: 0;
    margin-left: -50px;
    margin-right: 50px;
    z-index: 0;
}

#choose-register-order {
    opacity: 0;
    margin-left: -50px;
    margin-right: 50px;
    z-index: 1;
}

#choose-login-order {
    z-index: 2;
}

.card-body-payment {
    height: 220px;
}

.modalLoading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('/resources/images/loading.svg') 50% 50% no-repeat;
}

.partner-form-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-avt {
    height: 40px;
    width: 40px;
}

.menu-dropdown-menu {
    outline: none;
    position: absolute;
    list-style-type: none;
    padding: 4px 0;
    margin: 0;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-clip: padding-box;
    left: -86px;
    top: 67px;
    z-index: 999;
    display: none;
}

.menu-dropdown-menu-item,
.menu-dropdown-menu-submenu-title {
    padding: 5px 25px;
    margin: 0;
    clear: both;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 22px;
}

.menu-dropdown-menu-item > a,
.menu-dropdown-menu-submenu-title > a {
    color: rgba(0, 0, 0, 0.65);
    display: block;
    padding: 5px 12px;
    margin: -5px -12px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.menu-dropdown-menu-item:hover,
.menu-dropdown-menu-submenu-title:hover {
    background-color: #e6f7ff;
}

.menu-dropdown-menu-item > a:hover,
.menu-dropdown-menu-submenu-title > a:hover {
    outline: 0;
    text-decoration: none;
}

.dropdown-menu-item {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.menu-item span,
.dropdown-menu-item span {
    font-size: 100%;
}

.li-user-info {
    position: relative;
    text-align: center;
}

.nav-info-user {
    margin-right: 20px;
}

.left-body-info {
    width: 20%;
    /*height: 100%;*/
    background: #fff;
    padding: 20px;
    float: left;
}

.right-body-info {
    width: 80%;
    /*height: 100%;*/
    background: #fff;
    padding: 20px 30px;
    border-left: 5px solid #d8d8d8;
    float: right;
}

.menu-left-info {
    list-style: none;
}

.li-menu-info:hover a {
    color: #f56a00;
    text-decoration: none;
}

.li-menu-info a:hover {
    text-decoration: none;
}

.li-menu-info:hover .menu-left-item {
    color: #f56a00;
    text-decoration: none;
    padding-left: 30px;
}

.menu-left-item {
    color: rgba(0, 0, 0, 0.65);
    padding: 12px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.content-title-info {
    border-bottom: 0.3px solid #d8d8d8;
    padding: 8px;
}

.body-info {
    background: #f3f3f3;
    padding-top: 2px;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.file-input {
    font-weight: bold;
    cursor: pointer;
}

.info-user {
    padding-left: 16px;
}

/* radio buttons*/
.form-radio input[name='gender'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
}

.form-radio input[value='1']:after {
    font-family: 'FontAwesome';
    display: inline-block;
    text-align: center;
    font-size: 30px;
    content: "\f183";
    padding: 0px 10px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.4);
    transition: box-shadow 1s, color 1s;
}

.form-radio input[value='0']:after {
    font-family: 'FontAwesome';
    display: inline-block;
    text-align: center;
    font-size: 30px;
    content: "\f182";
    padding: 0px 10px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.4);
    transition: box-shadow 1s, color 1s;
}

.form-radio input[name='gender']:checked:after {
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
    color: #f56a00;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalLoading {
    display: block;
}

.menu-left-item-active {
    color: #f56a00;
    text-decoration: none;
    padding-left: 30px;
}

/**
* Custom table
*/
.content-body-info table {
    width: 100%;
    table-layout: fixed;
}

.content-body-info .tbl-header {
    background-color: #f56a00;
}

.content-body-info .tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.content-body-info th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.content-body-info td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    color: #888;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.tbl-content tr:hover {
    background: #89898914;
}

.tbl-content a {
    color: #888;
}

.tbl-content a:hover {
    text-decoration: none;
    color: #f56a00;
}

/* start for custom scrollbar for webkit browser*/
.content-body-info .tbl-content::-webkit-scrollbar {
    width: 6px;
}

.content-body-info .tbl-content::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content-body-info .tbl-content::-webkit-scrollbar-thumb {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* end for custom scrollbar for webkit browser*/

.img-tour img {
    height: 100%;
}

.img-tour {
    height: 170px;
    text-align: center;
}

#upload-photo-tour {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.file-input-tour {
    font-weight: bold;
    cursor: pointer;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.file-tour {
    text-align: center;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
    top: 10px !important;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.view-service {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    min-height: 100px;
}

.btn-custom-org {
    background-color: transparent;
}

.c_red {
    color: #dd0000;
}

/**
 * Custom 4 màn hình riêng
 */

@media only screen and (min-width: 992px) {
    .main-information {
        padding-right: 30px;
    }

    .food-box-menu-detail {
        position: relative;
    }

    .food-price {
        position: absolute;
        top: 0px;
        right: 7px;
    }

}

@media only screen and (max-width: 992px) {
    .info-store {
        position: inherit !important;
        margin-top: 20px;
    }

    #date-order {
        width: 100%;
    }

    .s-order {
        padding-right: 15px;
        padding-left: 15px;
    }

    #choose-login-order, #choose-register-order, #choose-forgot-password-order {
        width: 93%;
    }

    label.l-payment {
        height: 102%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 878px) {
    .main-information {
        padding-right: 30px;
    }

    .food-box-menu-detail {
        position: relative;
    }

    .food-price {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .info-store {
        position: inherit !important;
        margin-top: 20px;
    }

    #date-order {
        width: 100%;
    }

    .service-name {
        width: 90%;
    }

    .service-quantity {
        width: 10%;
    }

    .s-order {
        padding-right: 15px;
        padding-left: 15px;
    }

    #choose-login-order, #choose-register-order, #choose-forgot-password-order {
        width: 93%;
    }

    .card-body-payment {
        display: inline-table;
    }

}

@media only screen and (max-width: 767px) {
    .tour-order {
        position: absolute !important;
        width: 96%;
    }

    .sticky-wrapper {
        text-align: center;
    }

    .navbar-collapse ul.navbar-nav {
        display: flex !important;
    }

    .food-box-menu-detail {
        position: relative;
    }

    .food-price {
        position: absolute;
        top: 0px;
        right: 12px;
    }

    .info-store {
        position: inherit !important;
        margin-top: 20px;
    }

    #date-order {
        width: 100%;
    }

    .service-name {
        width: 55%;
    }

    .service-quantity {
        width: 10%;
    }

    .service-price {
        width: 35%;
    }

    .s-order {
        padding-right: 15px;
        padding-left: 15px;
    }

    #choose-login-order, #choose-register-order, #choose-forgot-password-order {
        width: 93%;
    }

    .card-body-payment {
        display: inline-table;
    }

}

@media only screen and (max-width: 700px) {
    section.s-payment {
        flex-direction: column;
    }

    .s-order {
        padding-right: 15px;
        padding-left: 15px;
    }

    #choose-login-order, #choose-register-order, #choose-forgot-password-order {
        width: 93%;
    }

    .card-body-payment {
        display: inline-table;
    }
}

@media only screen and (max-width: 600px) {
    .tour-order {
        position: absolute !important;
    }

    .box-title a {
        position: inherit;
    }

    .post-big {
        height: 250px;
        float: none;
        width: 100%;
        margin-bottom: 5px;
    }

    .post-small {
        width: 50%;
        height: 160px;
    }

    .post-small:nth-child(odd) {
        border-left: none;
    }

    .combo-big {
        width: 100%;
        float: none;
        height: 250px;
        margin-bottom: 5px;
    }

    .combo-small {
        width: 50%;
        height: 160px;
    }

    .combo-small:nth-child(odd) {
        border-left: none;
    }

    .img-fluid {
        height: 250px;
    }

    .service-content {
        width: 220px;
    }

    .cnav-mb {
        flex-direction: column !important;
    }

    .main-information {
        padding-right: 0px;
    }

    .food-box-menu-detail {
        position: relative;
    }

    .food-price {
        position: absolute;
        top: 0px;
        right: 19px;
        width: 19%;
    }

    .info-store {
        position: inherit !important;
        margin-top: 20px;
    }

    .name-food-detail {
        width: 55%;
    }

    /*********************/
    #loginFormModal {
        padding: 0 20px;
    }

    #loginFormModal .modal-dialog {
        max-width: 360px;
        margin: 30px auto;
    }

    #loginFormModal .modal-content {
        background-color: transparent;
    }

    .loginForm .mdl-card {
        width: auto;
    }

    .loginForm .mdl-card__title {
        padding-top: 0;
    }

    .loginForm .mdl-card__title img {
        display: block;
        height: auto;
        margin: 0 auto;
        padding: 15px;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }

    .loginForm .mdl-card__supporting-text {
        width: 100%;
    }

    #loginForm input {
        outline: 0;
    }

    #loginForm label {
        margin-bottom: 0;
        font-weight: 100;
        color: #737373;
    }

    #loginForm input.error + label:after {
        background-color: #ff5252;
        left: 0;
        width: 100%;
        visibility: visible;
    }

    #loginForm .mdl-textfield {
        width: 100%;
    }

    .loginForm .mdl-card__actions {
        margin-top: 5px;
    }

    .loginForm .mdl-card__actions a {
        font-size: 12px;
    }

    .article-content {
        display: block;
    }

    .entry-media-img {
        width: auto;
    }

    .entry-media-text {
        padding-left: 0px;
        margin-top: 5px;
    }

    .box-blog-right {
        margin-top: 20px;
    }

    #date-order {
        width: 100%;
    }

    .service-name {
        width: 55%;
    }

    .service-quantity {
        width: 10%;
    }

    .service-price {
        width: 35%;
    }

    .card-order {
        padding: 15px;
    }

    .card-payment {
        width: 100%;
    }

    .card-voucher {
        width: 100%;
    }

    .s-order {
        padding-right: 15px;
        padding-left: 15px;
    }

    .l-show-order {
        height: auto;
    }

    #choose-login-order, #choose-register-order, #choose-forgot-password-order {
        width: 93%;
    }

    label.l-payment {
        height: 22%;
    }

    .card-body-payment {
        display: inline-table;
    }

    .li-user-info {
        padding: 0px;
    }

    .nav-info-user {
        margin-right: 0px;
    }

    .menu-dropdown-menu {
        left: 95px;
        top: 43px;
    }

}

.login-page {
    background-repeat: no-repeat;
    background-image: url('https://www.tripi.vn/blog/wp-content/uploads/2016/12/34192549076_5232b92601_o.jpg');
    background-size: cover;
}